.tree_content_railway {
    font-weight: bold;
}

.tree_img{
    background-size: 100%;
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 2px;
}

.tree_img_railway{
    background-image: url(../img/tree/railway.gif);
}

.tree_img_like_railway{
    background-image: url(../img/tree/like_railway.gif);
}

.tree_img_point{
    background-image: url(../img/tree/point.gif);
}

.tree_img_area{
    background-image: url(../img/tree/area.gif);
}

.tree_img_like_area{
    background-image: url(../img/tree/like_area.gif);
}

.tree_img_cont{
    background-image: url(../img/tree/cont.gif);
}

.tree_img_info{
    background-image: url(../img/tree/info.gif);
}

.tree_Container {
    padding: 0;
    margin: 0;
    cursor: default;
}

.tree_Container li {
    //list-style-type: none;
    background-image : url(../img/tree/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
}

.tree_Node {
    //background-image : url(../img/tree/i.gif);
    //background-position : top left;
    //background-repeat : repeat-y;
    margin-left: 18px;
    zoom: 1;
    list-style-type: none;
}

.tree_Node::before, .tree_Container::before, .tree_Node::after, .tree_Container::after {
    content: "";
    display: table;
}
.tree_Node::after, .tree_Container::before {
    clear: both;
}

.tree_IsRoot {
    margin-left: 0;
    background-image : none !important;
}

ul.tree_Container li:last-child{
    background-image: url(../img/tree/i_half.gif);
    background-repeat : no-repeat;
}

.tree_ExpandOpen .tree_Expand {
    background-image: url(../img/tree/expand_minus.gif);
}

/* closed is higher priority than open */
.tree_ExpandClosed .tree_Expand {
    background-image: url(../img/tree/expand_plus.gif);
}

/* highest priority */
.tree_ExpandLeaf .tree_Expand {
    background-image: url(../img/tree/expand_leaf.gif);
}

.tree_Content {
    min-height: 18px;
    margin-left: 0.5em;
    display: inline-block;
    padding-top: 1px;
    cursor: pointer;
    float: left;
}

.tree-content-order{
    float: left;
    padding-top: 1px;
    cursor: pointer;
}

* html .tree_Content {
    height: 18px;
}

.tree_Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.tree_ExpandOpen .tree_Container {
    display: block;
}

.tree_ExpandClosed .tree_Container {
    display: none;
}

.tree_ExpandOpen .tree_Expand, .tree_ExpandClosed .tree_Expand {
        cursor: pointer;
}
.tree_ExpandLeaf .tree_Expand {
        cursor: auto;
}

.tree_ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(../img/tree/expand_loading.gif);
}

.tree_selected {
    background:  RGB(220, 220, 220);
}

.refresh {
    width: 18px; 
    height: 18px;
    float: left;
    cursor: pointer;
    background: url(/img/refresh/refresh.png);
    background-size: 100%;
}

.refresh:hover {
    background: url(/img/refresh/refresh_hover.jpg);
    background-size: 100%;
}

.tree_selectedFind {
    background:  yellow;
}

.deleteImage{
    width: 21px; 
    height: 21px;
    float: left;
    cursor: pointer;
    background: url(/img/delete.jpg);
    background-size: 100%;
    float: left;
}
.deleteImage:hover{
    background: url(/img/delete_hover.jpg);
    background-size: 100%;
}
.deleteImage13px{
    width: 13px; 
    height: 13px;
}
.up_image{
    width: 13px; 
    height: 13px;
    float: left;
    cursor: pointer;
    background: url(/img/up.png);
    background-size: 100%;
    float: left;
}

.down_image{
    width: 13px; 
    height: 13px;
    float: left;
    cursor: pointer;
    background: url(/img/down.png);
    background-size: 100%;
    float: left;
}

.need_fill_attr > div.tree_Content{
    background-color: deeppink;
}

.wrong_number > div.tree_Content{
    background-color: darkorange;
}


