input:disabled, select:disabled{
    color: #222;
}
.request-window{
    position: absolute;
    right: 0px;
    bottom: 5px;
    font-size: 1.1em;
    font-family: Verdana,Arial,sans-serif;
    padding: 0.2em;
    border: 1px solid #AAA;
    background: #FFF url("../jquery/images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50%;
    color: #222;
    border-radius: 4px;
    width: 550px;
}
.request-titlebar{
    padding: 0.4em 1em;
    position: relative;
    border-radius: 4px;
    border: 1px solid #AAA;
    background: #CCC url("../jquery/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50%;
    color: #222;
    font-weight: bold;
    min-height: 0px;
}
.request-title{
    float: left;
}

.request-button{
    border: 1px solid #D3D3D3;
    top: 50%;
    margin: -10px 0px 0px;
    /*padding: 1px;*/
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
}
.request-button:hover{
    border: 1px solid #999;
    background: #E6E6E6 repeat-x scroll 50% 50%;
    color: #212121;
}
.request-titlebar-turn-button{
    background: #E6E6E6 url("../jquery/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%;
    right: 0.3em;
    width: 20px;
    height: 20px;
}
.request-titlebar-add-button{
    background: #E6E6E6 url("../jquery/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%;
    right: 34.4em;
    width: 20px;
    height: 20px;
}
.request-button-active{
    border-color: #00dd1c !important;
}


.request-button-icon{
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;  
}
.request-titlebar-turn-icon{
    background-image: url("../jquery/images/ui-icons_888888_256x240.png");
    background-position: -64px -128px; 

}
.request-titlebar-add-icon{
    background-image: url("../jquery/images/ui-icons_2e83ff_256x240.png");
    background-position: -32px -128px; 
}

.helper-clearfix::before, .helper-clearfix::after {
    content: "";
    display: table;
    border-collapse: collapse;
    clear: both;
}
.helper-clearfix::after {
    clear: both;
}

.request-content{
    position: relative;
    border: 0px none;
    padding: 0.5em 0.5em;
    overflow: auto;
    height: auto;
    width: auto;
    max-height: 30em;
}

.request-item{
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    position: relative;
    height: 2em;
    margin-top: 0.2em;
}
.request-item-need-close{
    background-color: aquamarine;  
}
.request-item-title-criticality{
    background-color: red;  
}
.request-item-title{
    position: relative;
    font-weight: bold;
    top: 5px;
    margin-left: 3px;
    display: block;
    float:left;
    max-width: 35em;
    overflow: hidden;
    max-height: 1.5em;
    white-space: nowrap;
}

.request-item-view-btn{
    background: #E6E6E6 url("../jquery/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%;
    right: 0.2em;
    width: 20px;
    height: 20px;
}
.request-item-view-btn-icon{
    background-image: url("../jquery/images/ui-icons_2e83ff_256x240.png");
    background-position: -160px -112px;
}

.request-window-attr{
    border: 1px solid #7E7E7E;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}
.request-window-attr-item:not(:last-child){
    margin-bottom: 0.3em;
}
.request-window-attr-item-text{
    padding-right: 10px;
}
.request-window-attr-item-text-left{
    float: left;
}
.request-window-attr-item-text-between{
    padding-left: 10px;
}
.request-window-attr-item-elem{
    float: right;
}


.list-criteria{
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.criteria-header{
    margin-top: -16px;
    font-weight: bold;
    background: white;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding-left: 10px;
    line-height: 20px;
    position: relative;
}

.criteria-add-button{
    background: #E6E6E6 url("../jquery/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%;
    right: 0.5em;
    width: 20px;
    height: 20px;
}

.criteria-item{
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: 2px 2px 2px 3px;
    margin-top: 5px;
    position: relative;
}

.criteria-item:nth-child(2n){
    background-color: #DDF9E1;
}
.criteria-item:nth-child(2n+1){
    background-color:#D8E1EA;
}

.criteria-item-width{
    width: 75em;
}
.cars-item-width{
    /*width: 51em;*/
}

.criteria-item-delete-button{
    background: #E6E6E6 repeat-x scroll 50% 50%;
    right: -0.5px;
    top: 9px;
    width: 20px;
    height: 20px;
}

.criteria-item-div{
    display: inline-block;
    margin-right: 0.5em;
}

.criteria-item-span{
    display: block;
}

.list-cars{
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 75em;
    /*overflow: auto;
    max-height: 50em;*/
}

.criteria-item-freight{
    width: 10em;
}
.criteria-item-cars-count{
    width: 3em;
}
.criteria-item-descr{
    width: 30em;
}

.cars-item-div{
    display: inline-block;
    margin-left: 2px;
}
.cars-item-div-list{
    display: block;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.cars-item-input{
    width: 5em;
    display: inline;
}
.cars-item-task{
    width: 15em;
}
.cars-item-descr{
    width: 30em;
}
.cars-item-add-btn{
    position: initial;
    margin-left: 2px;
}
.cars-item-car-span{
    float: left;
    border: 1px solid #7e7e7e;
    border-radius: 3px;
    margin-right: 1.6em;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    width: 4.8em;
}
.cars-item-car-div{
    float: left;
    border: 1px solid #7e7e7e;
    border-radius: 3px;
    margin-right: 0.9em;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    width: 65.5em;
}
.cars-item-car-div-red-border{
    border: 2px solid rgb(203, 26, 5) !important;
}

.cars-item-car-div-large{
    width: 74.2em;
}

.cars-item-car-input{
    width: 5.8em;
    margin-left: 0.2em;
}
.cars-item-owner-input{
    width: 2.5em;
    margin-left: 0.2em;
}
.cars-item-station-input{
    width: 2em;
    margin-left: 0.2em;
}
.cars-item-railway-input{
    margin-left: 0.2em;
}
.cars-item-status-input{
    margin-left: 0.2em;
    width: 4.8em;
}
.cars-item-state-input{
    margin-left: 0.2em;
    width: 2.5em;
}
.cars-item-freight-input{
    margin-left: 0.2em;
    width: 9em;
    /*width: 4.8em;*/
}
.cars-item-info_date-input{
    margin-left: 0.2em;
    width: 6em;
}
.cars-item-list-of-cars{
    /*max-width: 33.6em;*/
    min-height: 1.3em;
    margin-top: 0.3em;
    overflow: auto;
    max-height: 15em;
}

.cars-item-complete-btn{
    position: relative;
    top: -5px;
    margin-bottom: -3px;
    background: #E6E6E6 repeat-x scroll 50% 50%;
    /*right: -0.5px;
    top: 9px;*/
    width: 18px;
    height: 18px;
}

.cars-item-complete-btn-parent{
    background: #E6E6E6 repeat-x scroll 50% 50%;
    width: 20px;
    height: 20px;
    position: relative;
    top: -5px;
}

.cars-item-close-btn-parent{
    background: #E6E6E6 repeat-x scroll 50% 50%;
    width: 20px;
    height: 20px;
    position: relative;
    top: -5px;
    margin-left: 3px;
}

.cars-item-close-btn{
    position: relative;
    top: -5px;
    margin-bottom: -3px;
    background: #E6E6E6 repeat-x scroll 50% 50%;
    /*right: -0.5px;
    top: 9px;*/
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.cars-item-car-span-delete-button{
    right: 0.1em;
    top: 55%;
    width: 18px;
    height: 18px;
}
.delete-button-icon{
    background-image: url("../jquery/images/ui-icons_cd0a0a_256x240.png");
    background-position: -32px -192px; 
}

.complete-button-icon-blue{
    background-image: url("../jquery/images/ui-icons_cd0a0a_256x240.png");
    background-position: -208px -192px; 
}
.complete-button-icon-green{
    background-image: url("../jquery/images/ui-icons_green_256x240.png");
    background-position: -208px -192px; 
}
.close-button-icon-blue{
    background-image: url("../jquery/images/ui-icons_cd0a0a_256x240.png");
    background-position: -16px -113px; 
}
.close-button-icon-green{
    background-image: url("../jquery/images/ui-icons_green_256x240.png");
    background-position: -16px -113px; 
}

.processing-status-on-btn{
    background: rgb(92, 228, 88) none repeat scroll 0% 0% !important;
}

.request-item-processing{
    background-image: url("../jquery/images/ui-icons_yellow_256x240.png");
    background-position: -207px -191px;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0.3em;
    left: 0.3em;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    display: block;
    float: left;
    margin-right: 5px;
}

.request-item-part-complete{
    background-image: url("../jquery/images/ui-icons_yellow_green_256x240.png");
}

.request-item-complete{
    background-image: url("../jquery/images/ui-icons_green_256x240.png");
}

.request-item-part-closed{
    background-image: url("../jquery/images/ui-icons_green_256x240.png");
    background-position: -14px -111.3px;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0.3em;
    left: 0.3em;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    display: block;
    float: left;
    margin-right: 5px; 
}

.title-check-railways{
    background-color: #F8F481;  
}