.ui-tabs-panel {
    padding: 0px !important;
}

.section {
    /*margin-left: 280px;
    padding-bottom: 50px;*/
    height: 100hv;
    width: 100%;
    border: 1px solid #7e7e7e;
    overflow: auto;
    float: right;
}

.route-table{
    background: #DCDCDC none repeat scroll 0% 0%;
    border-spacing: 1px;
    text-align: center;
    margin: 0.5em;
}

.route-table-th{
    height: 40px;
    background: #EBEBEB none repeat scroll 0% 0%;
}

.fuel-stand-table-th{
    height: 30px;
	width: 250px;
}

.route-table tbody tr:nth-child(2n+1) {
    background: #F8F8F8 none repeat scroll 0% 0%;
}

.route-table tbody tr:nth-child(2n) {
    background: #C1FFC9 none repeat scroll 0% 0%;
}

.route-window-attr {
    border: 1px solid #7E7E7E;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

.route-window-attr{
    border: 1px solid #7E7E7E;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

.route-window-attr-item{
    text-align: right;
}
.route-window-attr-item:not(:last-child){
    margin-bottom: 0.3em;
    text-align: right;
}
.route-window-attr-item-text{
    padding-right: 10px;
}
.route-window-attr-item-text-left{
    float: left;
}
.route-window-attr-item-text-between{
    padding-left: 10px;
}
.route-window-attr-item-elem{
    float: right;
}

.helper-clearfix::before, .helper-clearfix::after {
    content: "";
    display: table;
    border-collapse: collapse;
    clear: both;
}
.helper-clearfix::after {
    clear: both;
}

.route-filter-div{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #7E7E7E;
    border-radius: 5px;
    padding: 5px;
}

.reference-text{
    text-decoration: underline;
    color: #007fff;
    font-weight: bold;
    cursor: pointer;
}

.route-act-table th:nth-child(1),.route-act-table td:nth-child(1) {
    width: 20px;
}
.route-act-table th:nth-child(2),.route-act-table td:nth-child(2) {
    width: 130px;
}
.route-act-table th:nth-child(3),.route-act-table td:nth-child(3) {
    width: 90px;
}
.route-act-table th:nth-child(4),.route-act-table td:nth-child(4) {
    width: 90px;
}
.route-act-table th:nth-child(5),.route-act-table td:nth-child(5) {
    width: 250px;
}
.route-act-table th:nth-child(6),.route-act-table td:nth-child(6) {
    width: 100px;
}
.route-act-table th:nth-child(7),.route-act-table td:nth-child(7) {
    width: 50px;
}
.route-act-table th:nth-child(8),.route-act-table td:nth-child(8) {
    width: 110px;
}
.route-act-table th:nth-child(9),.route-act-table td:nth-child(9) {
    width: 250px;
}

.route-operation-descr-table th:nth-child(1),.route-operation-descr-table td:nth-child(1) {
    width: 120px;
}
.route-operation-descr-table th:nth-child(2),.route-operation-descr-table td:nth-child(2) {
    width: 120px;
}
.route-operation-descr-table th:nth-child(3),.route-operation-descr-table td:nth-child(3) {
    width: 80px;
}
.route-operation-descr-table th:nth-child(4),.route-operation-descr-table td:nth-child(4) {
    width: 130px;
}
.route-operation-descr-table th:nth-child(5),.route-operation-descr-table td:nth-child(5) {
    width: 130px;
}